openapi: 3.1.0
info:
  title: HIVE DaaS Portal API
  description: |
    ![Image](images/logo.png)
    # Documentazione delle API per il portale di Hive

    ## Autenticazione
    L'autenticazione alle API avviene attraverso una API Key (Refresh Token) che può essere generata dal portale.
    La generazione avviene nella sezione **Profilo Utente > API Keys** del portale Hive.
    Una volta completato il processo, verranno forniti il clientId e la API Key.

    ### Ottenimento del Token
    Per ottenere un access token, effettuare una chiamata POST al seguente endpoint:

    [`/auth/api-key/login`](#/Authorization/post_auth_api_key_login)


    #### Durata dei token
    - **Access Token**: valido per 24 ore
    - **Refresh Token (API Key)**: valido per 10 anni

    ### Utilizzo dell'Access Token
    L'access token ottenuto deve essere incluso nell'header di ogni richiesta successiva come segue:

    ```
    Authorization: Bearer {access_token}
    ```

    # Moduli

    ## Device as a Service (DaaS)
    Questa suite di API è fondamentale per provisionare e configurare i servizi necessari alla gestione completa del ciclo di vita dei dispositivi (DaaS). Fornisce gli strumenti per gestire l'anagrafica, i cataloghi prodotti, le offerte commerciali e gli ordini di assistenza.

    ### Flusso Operativo Obbligatorio
    Le chiamate devono seguire la seguente sequenza logica:

    ### 1. Preparazione Iniziale (Dati Base)
    - Creare Anagrafica
    - Creare Categoria / Fornitore  
    - Aggiungere Prodotto

    ### 2. Creazione Offerta
    - Creare Offerta
    - Associare Devices
    - Aggiungere Accessori / Servizi

    ### 3. Creazione Ordine di Assistenza
    - Generare un ordine per device

    ### Istruzioni POST e Caricamento File
    Per associare file multipli agli elementi, usare: `files.{idElement}`

    **Esempio:**
    ```
    files.24 => [ image1.jpg, img2.png ]
    ```

    **Requisiti file:**
    I caratteri consentiti per i nomi dei file sono i seguenti:
    - Lettere maiuscole: dalla A alla Z
    - Lettere minuscole: dalla a alla z
    - Numeri: dallo 0 al 9
    - Spazio
    - Trattino basso (underscore): _
    - Punto: .
    - Trattino: -

    **Dimensione massima per file:** 5MB

  version: 1.0.11
  contact:
    email: sviluppo@hive-service.com
servers:
  - url: https://api.eis.it
    description: Production server
  - url: https://staging.api.eis.it
    description: Staging server
externalDocs:
  description: Find out more about our solutions
  url: https://wiki.eis.it

tags:
  - name: Authorization
    description: Endpoints for obtaining and refreshing JWT tokens for API access.
  - name: Audit Logs
    description: Endpoints related to retrieving audit logs for customer activities.
  - name: Statuses
    description: Endpoints related to retrieving all statuses.
  - name: Carriers
    description: Endpoints related to carrier management.
  - name: Circuits
    description: Endpoints related to circuit management and details.
  - name: Customers
    description: Endpoints related to customer management.
  - name: Regulatory
    description: Endpoints related to regulatory management.
  - name: DaaS/Accessories
    description: "Endpoints related to DaaS accessories (retrieve, list, and associate)."
  - name: DaaS/Services
    description: "Endpoints related to DaaS services (retrieve, list, and associate)."
  - name: DaaS/Categories
    description: "Endpoints for managing product categories (retrieve all, filter, and get details)."
  - name: DaaS/Vendors
    description: "Endpoints for managing product vendors (retrieve all, filter, and get details)."
  - name: DaaS/Devices
    description: "Endpoints related to DaaS devices and their associated items."
  - name: DaaS/Contracts
    description: "Endpoints related to DaaS contracts (list and retrieve individual contracts)."
  - name: DaaS/Products
    description: "Endpoints for managing products (retrieve all, filter, and get details)."

paths:
  /auth/api-key/login:
    post:
      tags:
        - Authorization
      summary: Obtain JWT Access Tokens using the API Refresh Token
      description: Generate a new JWT access token by providing a valid API key.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                clientId:
                  type: string
                  description: The client identifier
                clientSecret:
                  type: string
                  description: The API Key (client secret)
              required:
                - clientId
                - clientSecret
      responses:
        "200":
          description: Tokens generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: JWT access token
        "401":
          description: Unauthorized - Invalid API key
        "500":
          description: Internal server error

  # ========================================================
  # 📋 AUDIT LOGS
  # ========================================================

  /v1/audit-logs/list/{organizationId}:
    get:
      tags:
        - Audit Logs
      summary: Get all Audit Logs
      description: Retrieve the complete list of audit logs for a specific organization.
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: long
      responses:
        "200":
          description: List of audit logs retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/audit/AuditLog.yaml"
        "404":
          description: Organization not found
        "500":
          description: Internal server error

  # ========================================================
  # 📋 AUDIT LOGS
  # ========================================================

  /v1/status/list:
    get:
      tags:
        - Statuses
      summary: Get all Statuses
      description: Retrieve the complete list of statuses.
      responses:
        "200":
          description: List of statuses retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/Status.yaml"
        "500":
          description: Internal server error

  /v1/status/{id}:
    get:
      tags:
        - Statuses
      summary: Get Status by ID
      description: Retrieve detailed information for a specific status using its unique ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Status retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/Status.yaml"
        "404":
          description: Status not found
        "500":
          description: Internal server error

  /v1/status/market/list:
    get:
      tags:
        - Statuses
      summary: Get all Market Statuses
      description: Retrieve the complete list of market statuses.
      responses:
        "200":
          description: List of market statuses retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/StatusMarket.yaml"
        "500":
          description: Internal server error

  /v1/status/market/{id}:
    get:
      tags:
        - Statuses
      summary: Get Market Status by ID
      description: Retrieve detailed information for a specific market status using its unique ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Market status retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/StatusMarket.yaml"
        "404":
          description: Market status not found
        "500":
          description: Internal server error

  # ========================================================
  # 📋 CARRIERS
  # ========================================================

  /v1/carriers/list:
    get:
      tags:
        - Carriers
      summary: Get all Carriers
      description: Retrieve the complete list of carriers.
      responses:
        "200":
          description: List of carriers retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/Carrier.yaml"
        "500":
          description: Internal server error

  # ========================================================
  # 🌐 CIRCUITS
  # ========================================================

  /v1/circuits/:
    get:
      tags:
        - Circuits
      summary: Get all Circuits
      description: Retrieve the complete list of circuits.
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/circuit/Circuit.yaml"
        "500":
          description: Internal server error

  /v1/circuits/{orderId}:
    get:
      tags:
        - Circuits
      summary: Get Circuit by Order ID
      description: Retrieve circuit information for a specific order ID.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                $ref: "/schemas/circuit/Circuit.yaml"

  /v1/circuits/customer/{customerId}:
    get:
      tags:
        - Circuits
      summary: Get Circuit by Customer ID
      description: Retrieve circuit information for a specific customer ID.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                $ref: "/schemas/circuit/Circuit.yaml"

  /v1/circuits/{orderId}/{organizationId}/details:
    get:
      tags:
        - Circuits
      summary: Get Circuit Details by Order ID and Organization ID
      description: Retrieve detailed information for a specific circuit using its order ID and organization ID.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
        - name: organizationId
          in: path
          required: true
          schema:
            type: long
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "/schemas/circuit/Circuit_Detail.yaml"

  /v1/circuits/migration/carrier/{carrierId}:
    get:
      tags:
        - Circuits
      summary: Get Circuit by Carrier ID
      description: Retrieve circuit information for a specific carrier ID.
      parameters:
        - name: carrierId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/circuit/Circuit_MigrationCarrier.yaml"

  /v1/circuits/order/ipv4:
    get:
      tags:
        - Circuits
      summary: Get Circuit by Order ID with IPv4
      description: Retrieve circuit information for a specific order ID, including IPv4 details.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "/schemas/circuit/Circuit_IPs.yaml"

  /v1/circuits/order/ipv6:
    get:
      tags:
        - Circuits
      summary: Get Circuit by Order ID with IPv6
      description: Retrieve circuit information for a specific order ID, including IPv6 details.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "/schemas/circuit/Circuit_IPs.yaml"

  /v1/circuits/{orderId}/{organizationId}/ping:
    get:
      tags:
        - Circuits
      summary: Ping Circuit by Order ID and Organization ID
      description: Ping a specific circuit using its order ID and organization ID.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
        - name: organizationId
          in: path
          required: true
          schema:
            type: long
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "/schemas/circuit/Circuit_Ping.yaml"

  /v1/circuits/{orderId}/{organizationId}/connectionlog:
    get:
      tags:
        - Circuits
      summary: Get Connection Log for Circuit by Order ID and Organization ID
      description: Retrieve connection log information for a specific circuit using its order ID and organization ID.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
        - name: organizationId
          in: path
          required: true
          schema:
            type: long
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "/schemas/circuit/Circuit_logs.yaml"

  /v1/circuits/{orderId}/{organizationId}/ngasp/alignment:
    get:
      tags:
        - Circuits
      summary: Get NGASP Alignment for Circuit by Order ID and Organization ID
      description: Retrieve NGASP alignment information for a specific circuit using its order ID and organization ID.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
        - name: organizationId
          in: path
          required: true
          schema:
            type: long
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "/schemas/circuit/Circuit_NGASP.yaml"

  /v1/circuits/{orderId}/{organizationId}/charts/bandwidth/{xdslType}:
    get:
      tags:
        - Circuits
      summary: Get Bandwidth Chart for Circuit by Order ID and Organization ID
      description: Retrieve bandwidth chart information for a specific circuit using its order ID and organization ID.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
        - name: organizationId
          in: path
          required: true
          schema:
            type: long
        - name: xdslType
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "/schemas/circuit/Circuit_BandwidthChart.yaml"

  /v1/circuits/{orderId}/{organizationId}/ipclass:
    get:
      tags:
        - Circuits
      summary: Get IP Class for Circuit by Order ID and Organization ID
      description: Retrieve IP class  information for a specific circuit using its order ID and organization ID.
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
        - name: organizationId
          in: path
          required: true
          schema:
            type: long
        - name: xdslType
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "/schemas/circuit/Circuit_IPClasses.yaml"

  # ========================================================
  # 🏣 CUSTOMER & REGULATORY ENDPOINTS
  # ========================================================

  /v1/customers/:
    get:
      tags:
        - Customers
      summary: Get all Customers
      description: Retrieve the complete list of customers.
      responses:
        "200":
          description: List of customers retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/Customer.yaml"
        "500":
          description: Internal server error

  /v1/customers/organization/{organizationId}:
    get:
      tags:
        - Customers
      summary: Get Customers by Organization ID
      description: Retrieve customers associated with a specific organization ID.
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: List of customers retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/Customer.yaml"
        "404":
          description: Organization not found
        "500":
          description: Internal server error

  /v1/customers/user/{userId}:
    get:
      tags:
        - Customers
      summary: Get Customers by User ID
      description: Retrieve customers associated with a specific user ID.
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: List of customers retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/Customer.yaml"
        "404":
          description: User not found
        "500":
          description: Internal server error

  /v1/customers/{customerId}:
    get:
      tags:
        - Customers
      summary: Get Customer by ID
      description: Retrieve detailed information for a specific customer using its unique ID.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Customer retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/Customer.yaml"
        "404":
          description: Customer not found
        "500":
          description: Internal server error

  /v1/customers/add:
    post:
      tags:
        - Customers
      summary: Add a new Customer
      description: Create a new customer with the provided details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/AddCustomerRequest.yaml"
      responses:
        "201":
          description: Customer created successfully
        "400":
          description: Bad request - invalid input data
        "500":
          description: Internal server error

  /v1/customers/regulatorydatabaseinfo/{customerId}:
    get:
      tags:
        - Regulatory
      summary: Get Regulatory Database Info by Customer ID
      description: Retrieve regulatory database information for a specific customer using its unique ID.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Regulatory database info retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/RegulatoryDatabaseInfo.yaml"
        "404":
          description: Customer not found
        "500":
          description: Internal server error

  /v1/customers/reginfo/add:
    post:
      tags:
        - Regulatory
      summary: Add Regulatory Database Info
      description: Create regulatory database information for a customer with the provided details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/schemas/RegulatoryDatabaseInfo.yaml"
      responses:
        "201":
          description: Regulatory database info created successfully
        "400":
          description: Bad request - invalid input data
        "500":
          description: Internal server error

  /v1/customers/update/{customerId}/details:
    put:
      tags:
        - Customers
      summary: Update Customer Details
      description: Update the details of an existing customer using its unique ID.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/UpdateCustomerRequest.yaml"
      responses:
        "200":
          description: Customer details updated successfully
        "400":
          description: Bad request - invalid input data
        "404":
          description: Customer not found
        "500":
          description: Internal server error

  /v1/customers/update/{customerId}/address:
    put:
      tags:
        - Customers
      summary: Update Customer Address
      description: Update the address of an existing customer using its unique ID.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/UpdateCustomerAddressRequest.yaml"
      responses:
        "200":
          description: Customer address updated successfully
        "400":
          description: Bad request - invalid input data
        "404":
          description: Customer not found
        "500":
          description: Internal server error

  /v1/customers/reginfo/edit:
    put:
      tags:
        - Regulatory
      summary: Edit Regulatory Database Info
      description: Update regulatory database information for a customer with the provided details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/schemas/RegulatoryDatabaseInfo.yaml"
      responses:
        "200":
          description: Regulatory database info updated successfully
        "400":
          description: Bad request - invalid input data
        "404":
          description: Customer not found
        "500":
          description: Internal server error

  # ========================================================
  # 🔌 ACCESSORY ENDPOINTS
  # ========================================================
  /v1/daas/accessory/list:
    get:
      tags:
        - DaaS/Accessories
      summary: Get all DaaS Accessories
      description: Retrieve the complete list of DaaS accessories with their associated organizations.
      responses:
        "200":
          description: List of accessories retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/DaasAccessory.yaml"
        "500":
          description: Internal server error

  /v1/daas/accessory/{id}:
    get:
      tags:
        - DaaS/Accessories
      summary: Get a DaaS Accessory by ID
      description: Retrieve a specific DaaS accessory using its unique ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Accessory retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/DaasAccessory.yaml"
        "404":
          description: Accessory not found
        "500":
          description: Internal server error

  /v1/daas/accessory/external/{externalId}:
    get:
      tags:
        - DaaS/Accessories
      summary: Get a DaaS Accessory by External ID
      description: Retrieve a specific DaaS accessory using its unique external ID.
      parameters:
        - name: externalId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Accessory retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/DaasAccessory.yaml"
        "404":
          description: Accessory not found
        "500":
          description: Internal server error

  /v1/daas/device/{id}/accessory/list:
    get:
      tags:
        - DaaS/Accessories
      summary: Get Accessories associated with a Device
      description: Retrieve the list of accessories physically associated with a specific DaaS device.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: List of accessories retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/DaasAccessory.yaml"
        "404":
          description: Device not found
        "500":
          description: Internal server error

  /v1/daas/accessory/add:
    post:
      tags:
        - DaaS/Accessories
      summary: Add a new DaaS Accessory
      description: Create a new DaaS accessory with the provided details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/AddAccessoryRequest.yaml"
      responses:
        "201":
          description: Accessory created successfully
        "400":
          description: Bad request - invalid input data
        "500":
          description: Internal server error

  /v1/daas/accessory/edit:
    put:
      tags:
        - DaaS/Accessories
      summary: Edit an existing DaaS Accessory
      description: Update an existing DaaS accessory with the provided details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/EditAccessoryRequest.yaml"
      responses:
        "200":
          description: Accessory updated successfully
        "400":
          description: Bad request - invalid input data
        "404":
          description: Accessory not found
        "500":
          description: Internal server error

  /v1/daas/accessory/delete/{id}/{organizationId}:
    delete:
      tags:
        - DaaS/Accessories
      summary: Delete a DaaS Accessory
      description: Delete a specific DaaS accessory by its ID and organization ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Unique ID of the DaaS accessory to delete
        - name: organizationId
          in: path
          required: true
          schema:
            type: integer
          description: Organization ID associated with the accessory
      responses:
        "200":
          description: Accessory deleted successfully
        "404":
          description: Accessory not found
        "500":
          description: Internal server error

  # ========================================================
  # 🛠️ SERVICE ENDPOINTS
  # ========================================================
  /v1/daas/service/list:
    get:
      tags:
        - DaaS/Services
      summary: Get all DaaS Services
      description: Retrieve the complete list of DaaS services available.
      responses:
        "200":
          description: List of services retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/DaasService.yaml"
        "500":
          description: Internal server error

  /v1/daas/service/{id}:
    get:
      tags:
        - DaaS/Services
      summary: Get a DaaS Service by ID
      description: Retrieve details of a specific DaaS service using its unique ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Service retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/DaasService.yaml"
        "404":
          description: Service not found
        "500":
          description: Internal server error

  /v1/daas/service/external/{externalId}:
    get:
      tags:
        - DaaS/Services
      summary: Get a DaaS Service by External ID
      description: Retrieve details of a specific DaaS service using its unique external ID.
      parameters:
        - name: externalId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Service retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/DaasService.yaml"
        "404":
          description: Service not found
        "500":
          description: Internal server error

  /v1/daas/device/{id}/service/list:
    get:
      tags:
        - DaaS/Services
      summary: Get Services associated with a Device
      description: Retrieve the list of DaaS services associated with a specific device.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: List of services retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/DaasService.yaml"
        "404":
          description: Device not found
        "500":
          description: Internal server error

  /v1/daas/service/add:
    post:
      tags:
        - DaaS/Services
      summary: Add a new DaaS Service
      description: Create a new DaaS service with the provided details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/AddServiceRequest.yaml"
      responses:
        "201":
          description: Service created successfully
        "400":
          description: Bad request - invalid input data
        "500":
          description: Internal server error

  /v1/daas/service/edit:
    put:
      tags:
        - DaaS/Services
      summary: Edit an existing DaaS Service
      description: Update an existing DaaS service with the provided details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/EditServiceRequest.yaml"
      responses:
        "200":
          description: Service updated successfully
        "400":
          description: Bad request - invalid input data
        "404":
          description: Service not found
        "500":
          description: Internal server error

  /v1/daas/service/delete/{id}/{organizationId}:
    delete:
      tags:
        - DaaS/Services
      summary: Delete a DaaS Service
      description: Delete a specific DaaS service by its ID and organization ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Unique ID of the DaaS service to delete
        - name: organizationId
          in: path
          required: true
          schema:
            type: integer
          description: Organization ID associated with the service
      responses:
        "200":
          description: Service deleted successfully
        "404":
          description: Service not found
        "500":
          description: Internal server error

  # ========================================================
  # 💼 CONTRACT ENDPOINTS
  # ========================================================
  /v1/daas/contract/list:
    get:
      tags:
        - DaaS/Contracts
      summary: Get all DaaS Contracts
      description: Retrieve the complete list of DaaS contracts (orders) with related organization and customer data.
      responses:
        "200":
          description: List of contracts retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/DaasContract.yaml"
        "500":
          description: Internal server error

  /v1/daas/contract/{id}:
    get:
      tags:
        - DaaS/Contracts
      summary: Get a DaaS Contract by ID
      description: Retrieve detailed information for a specific DaaS contract.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Contract retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/DaasContract.yaml"
        "404":
          description: Contract not found
        "500":
          description: Internal server error

  /v1/daas/contract/external/{externalId}:
    get:
      tags:
        - DaaS/Contracts
      summary: Get a DaaS Contract by External ID
      description: Retrieve detailed information for a specific DaaS contract.
      parameters:
        - name: externalId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Contract retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/DaasContract.yaml"
        "404":
          description: Contract not found
        "500":
          description: Internal server error

  /v1/daas/contract/add:
    post:
      tags:
        - DaaS/Contracts
      summary: Add a new DaaS Contract
      description: Create a new DaaS contract with the provided details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/AddContractRequest.yaml"
      responses:
        "201":
          description: Contract created successfully
        "400":
          description: Bad request - invalid input data
        "500":
          description: Internal server error


  /v1/daas/contract/edit:
    post:
      tags:
        - DaaS/Contracts
      summary: Edit an existing DaaS Contract
      description: Update the details of an existing DaaS contract.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/EditContract.yaml"
      responses:
        "200":
          description: Contract updated successfully
        "400":
          description: Bad request - invalid input data
        "500":
          description: Internal server error

  /v1/daas/contract/edit/status:
    post:
      tags:
        - DaaS/Contracts
      summary: Edit the Status of an existing DaaS Contract
      description: Update the status of an existing DaaS contract.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/EditStatus.yaml"
      responses:
        "200":
          description: Contract status updated successfully
        "400":
          description: Bad request - invalid input data
        "500":
          description: Internal server error

  # ========================================================
  # CATEGORIES ENDPOINTS
  # ========================================================

  /v1/product/categories:
    get:
      tags:
        - DaaS/Categories
      summary: Get all Product Categories
      description: Retrieve the complete list of product categories.
      responses:
        "200":
          description: List of product categories retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/Category.yaml"
        "500":
          description: Internal server error

  /v1/product/category/{id}:
    get:
      tags:
        - DaaS/Categories
      summary: Get Product Category by ID
      description: Retrieve details of a specific product category using its unique ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Product category retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/Category.yaml"
        "404":
          description: Category not found
        "500":
          description: Internal server error

  /v1/product/category/external/{externalId}:
    get:
      tags:
        - DaaS/Categories
      summary: Get Product Category by External ID
      description: Retrieve details of a specific product category using its unique external ID.
      parameters:
        - name: externalId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Product category retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/Category.yaml"
        "404":
          description: Category not found
        "500":
          description: Internal server error

  /v1/product/category/add:
    post:
      tags:
        - DaaS/Categories
      summary: Add a new Product Category
      description: Create a new product category with the provided name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/AddCategoriesRequest.yaml"
      responses:
        "201":
          description: Product category created successfully
        "400":
          description: Bad request - invalid input data
        "500":
          description: Internal server error

  /v1/product/category/edit:
    post:
      tags:
        - DaaS/Categories
      summary: Edit an existing Product Category
      description: Update the name of an existing product category.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/EditCategoryRequest.yaml"
      responses:
        "200":
          description: Product category updated successfully
        "400":
          description: Bad request - invalid input data
        "404":
          description: Category not found
        "500":
          description: Internal server error

  /v1/product/category/delete/{categoryId}/{organizationId}:
    delete:
      tags:
        - DaaS/Categories
      summary: Delete a Product Category
      description: Delete a specific product category by its ID and organization ID.
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: integer
          description: Unique ID of the category to delete
        - name: organizationId
          in: path
          required: true
          schema:
            type: integer
          description: Organization ID associated with the category
      responses:
        "200":
          description: Product category deleted successfully
        "404":
          description: Category not found
        "500":
          description: Internal server error

  # ========================================================
  # VENDORS ENDPOINTS
  # ========================================================

  /v1/product/vendors:
    get:
      tags:
        - DaaS/Vendors
      summary: Get all Product Vendors
      description: Retrieve the complete list of product vendors.
      responses:
        "200":
          description: List of product vendors retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./schemas/Vendor.yaml"
        "500":
          description: Internal server error

  /v1/product/vendor/{id}:
    get:
      tags:
        - DaaS/Vendors
      summary: Get Product Vendor by ID
      description: Retrieve details of a specific product vendor using its unique ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Product vendor retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "./schemas/Vendor.yaml"
        "404":
          description: Vendor not found
        "500":
          description: Internal server error

  /v1/product/vendor/external/{externalId}:
    get:
      tags:
        - DaaS/Vendors
      summary: Get Product Vendor by External ID
      description: Retrieve details of a specific product vendor using its unique external ID.
      parameters:
        - name: externalId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Product vendor retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "./schemas/Vendor.yaml"
        "404":
          description: Vendor not found
        "500":
          description: Internal server error

  /v1/product/vendor/add:
    post:
      tags:
        - DaaS/Vendors
      summary: Add a new Product Vendor
      description: Create a new product vendor with the provided name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./request/AddVendor.yaml"
      responses:
        "201":
          description: Product vendor created successfully
        "400":
          description: Bad request - invalid input data
        "500":
          description: Internal server error

  /v1/product/vendor/edit:
    post:
      tags:
        - DaaS/Vendors
      summary: Edit an existing Product Vendor
      description: Update the name of an existing product vendor.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./request/EditVendor.yaml"
      responses:
        "200":
          description: Product vendor updated successfully
        "400":
          description: Bad request - invalid input data
        "404":
          description: Vendor not found
        "500":
          description: Internal server error

  /v1/product/vendor/delete/{vendorId}/{organizationId}:
    delete:
      tags:
        - DaaS/Vendors
      summary: Delete a Product Vendor
      description: Delete a specific product vendor by its ID and organization ID.
      parameters:
        - name: vendorId
          in: path
          required: true
          schema:
            type: integer
          description: Unique ID of the vendor to delete
        - name: organizationId
          in: path
          required: true
          schema:
            type: integer
          description: Organization ID associated with the vendor
      responses:
        "200":
          description: Product vendor deleted successfully
        "404":
          description: Vendor not found
        "500":
          description: Internal server error

  # ========================================================
  # 💻 DEVICE ENDPOINTS
  # ========================================================
  /v1/daas/device/{id}:
    get:
      tags:
        - DaaS/Devices
      summary: Get a DaaS Device by ID Device
      description: Retrieve detailed information for a specific DaaS device.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Device retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/DaasDevice.yaml"
        "404":
          description: Device not found
        "500":
          description: Internal server error
    delete:
      tags:
        - DaaS/Devices
      summary: Delete a DaaS Device
      description: Delete a specific DaaS device and remove its association from the contract.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Unique ID of the DaaS device to delete
      responses:
        "200":
          description: Device deleted successfully
        "404":
          description: Device not found
        "500":
          description: Internal server error

  /v1/daas/device/external/{externalId}:
    get:
      tags:
        - DaaS/Devices
      summary: Get a DaaS Device by External ID
      description: Retrieve detailed information for a specific DaaS device.
      parameters:
        - name: externalId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Device retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/DaasDevice.yaml"
        "404":
          description: Device not found
        "500":
          description: Internal server error

  /v1/daas/device/{id}/element:
    put:
      tags:
        - DaaS/Devices
      summary: Add or update elements (services/accessories) to a Device
      description: Associate or remove services and accessories from a specific device.
      parameters:
        - name: id
          in: path
          description: Unique ID of the DaaS device
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/AddElementToDevice.yaml"
      responses:
        "200":
          description: Device elements updated successfully
        "400":
          description: Bad request - invalid input data
        "404":
          description: Device not found
        "500":
          description: Internal server error

  /v1/daas/contract/{id}/devices:
    get:
      tags:
        - DaaS/Devices
      summary: Get Devices linked to a Contract
      description: Retrieve the list of DaaS devices associated with a specific contract ID.
      parameters:
        - name: id
          in: path
          description: Unique ID of the DaaS contract
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: List of devices retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/DaasDevice.yaml"
        "404":
          description: Contract not found
        "500":
          description: Internal server error
    put:
      tags:
        - DaaS/Devices
      summary: Add Devices to a Contract
      description: Associate one or more devices to a specific DaaS contract. Devices can be created with services and accessories.
      parameters:
        - name: id
          in: path
          description: Unique ID of the DaaS contract
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/AddDeviceToContract.yaml"
      responses:
        "200":
          description: Devices added to contract successfully
        "400":
          description: Bad request - invalid input data
        "404":
          description: Contract not found
        "500":
          description: Internal server error

  /v1/daas/device/edit:
    post:
      tags:
        - DaaS/Devices
      summary: Edit an existing DaaS Device
      description: Update the details of an existing DaaS device.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/EditSerial.yaml"
      responses:
        "200":
          description: Device updated successfully
        "400":
          description: Bad request - invalid input data
        "404":
          description: Device not found
        "500":
          description: Internal server error

  /v1/daas/device/edit/status:
    post:
      tags:
        - DaaS/Devices
      summary: Edit the Status of an existing DaaS Device
      description: Update the status of an existing DaaS device.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/EditStatus.yaml"
      responses:
        "200":
          description: Device status updated successfully
        "400":
          description: Bad request - invalid input data
        "500":
          description: Internal server error

  # ========================================================
  # 📦 PRODUCT ENDPOINTS
  # ========================================================

  /v1/product/:
    get:
      tags:
        - DaaS/Products
      summary: Get all Products
      description: Retrieve the complete list of products with their associated categories and vendors.
      responses:
        "200":
          description: List of products retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/Product.yaml"
        "500":
          description: Internal server error

  /v1/product/filter:
    get:
      tags:
        - DaaS/Products
      summary: Get Products with filters
      description: Retrieve a filtered list of products based on organization, query string, category, and vendor.
      parameters:
        - name: organizationId
          in: query
          required: false
          schema:
            type: integer
          description: Filter by organization ID
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Search query for product name or product number
        - name: category
          in: query
          required: false
          schema:
            type: integer
          description: Filter by category ID
        - name: vendor
          in: query
          required: false
          schema:
            type: integer
          description: Filter by vendor ID
      responses:
        "200":
          description: Filtered list of products retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "/schemas/Product.yaml"
        "400":
          description: Bad request - invalid filter parameters
        "500":
          description: Internal server error

  /v1/product/details/{id}:
    get:
      tags:
        - DaaS/Products
      summary: Get Product details by ID
      description: Retrieve detailed information for a specific product using its unique ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Unique ID of the product
      responses:
        "200":
          description: Product details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/Product.yaml"
        "404":
          description: Product not found
        "500":
          description: Internal server error

  /v1/product/details/external/{externalId}:
    get:
      tags:
        - DaaS/Products
      summary: Get Product details by External ID
      description: Retrieve detailed information for a specific product using its unique external ID.
      parameters:
        - name: externalId
          in: path
          required: true
          schema:
            type: integer
          description: Unique external ID of the product
      responses:
        "200":
          description: Product details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "/schemas/Product.yaml"
        "404":
          description: Product not found
        "500":
          description: Internal server error

  /v1/product/delete/{id}/{organizationId}:
    delete:
      tags:
        - DaaS/Products
      summary: Delete a Product
      description: Delete a specific product by its ID and organization ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Unique ID of the product to delete
        - name: organizationId
          in: path
          required: true
          schema:
            type: integer
          description: Organization ID associated with the product
      responses:
        "200":
          description: Product deleted successfully
        "404":
          description: Product not found
        "500":
          description: Internal server error

  /v1/product/add:
    post:
      tags:
        - DaaS/Products
      summary: Add a new Product
      description: Create a new product with the provided details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "/request/AddProduct.yaml"
      responses:
        "201":
          description: Product created successfully
        "400":
          description: Bad request - invalid input data
        "500":
          description: Internal server error

  /v1/product/edit:
    post:
      tags:
        - DaaS/Products
      summary: Edit an existing Product
      description: Update an existing product with the provided details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./request/EditProduct.yaml"
      responses:
        "200":
          description: Product updated successfully
        "400":
          description: Bad request - invalid input data
        "404":
          description: Product not found
        "500":
          description: Internal server error

  /v1/images/products/add:
    post:
      summary: Aggiungi Immagini Prodotto
      operationId: addProductImages
      tags:
        - DaaS/Products
      description: Carica una o più immagini per un prodotto specifico utilizzando il suo ID.
      requestBody:
        description: Dati in multipart/form-data per il caricamento delle immagini
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Array di file immagine da caricare. (Simulato come "2 files" nell'immagine)
                productId:
                  type: integer
                  format: int64
                  description: L'ID del prodotto a cui associare le immagini.
      responses:
        "200":
          description: Immagini caricate con successo
        "400":
          description: Richiesta non valida (es. ID prodotto mancante o formato file errato)
        "500":
          description: Errore interno del server

  /v1/images/products/reorder:
    post:
      summary: Riordina Immagini Prodotto
      operationId: reorderProductImages
      tags:
        - DaaS/Products
      description: Aggiorna la posizione di una o più immagini per un prodotto specifico.
      requestBody:
        description: Dati JSON contenenti l'ID del prodotto e la nuova posizione delle immagini.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                imagesProduct:
                  type: array
                  description: Array di oggetti che definiscono l'ID dell'immagine e la sua nuova posizione.
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        format: int64
                        description: L'ID univoco dell'immagine.
                      position:
                        type: integer
                        description: La nuova posizione dell'immagine (a partire da 1).
                productId:
                  type: integer
                  format: int64
                  description: L'ID del prodotto le cui immagini devono essere riordinate.
              required:
                - imagesProduct
                - productId
      responses:
        "200":
          description: Immagini riordinate con successo
        "400":
          description: Richiesta non valida
        "404":
          description: Risorsa non trovata

  /v1/images/products/delete/{imageId}:
    delete:
      summary: Elimina Immagine Prodotto
      operationId: deleteProductImage
      tags:
        - DaaS/Products
      description: Elimina un'immagine specifica associata a un prodotto utilizzando l'ID dell'immagine.
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: L'ID univoco dell'immagine da eliminare.
      responses:
        "200":
          description: Immagine eliminata con successo
        "404":
          description: Immagine non trovata
        "500":
          description: Errore interno del server

  /v1/images/outputstream/{orgId}/{productId}/{fileName}:
    get:
      summary: Recupera Immagine Prodotto
      operationId: getProductImage
      tags:
        - DaaS/Products
      description: Recupera e trasmette un file immagine specifico associato a un prodotto in una data organizzazione.
      parameters:
        - name: orgId
          in: path
          description: L'ID dell'organizzazione (es. 33704).
          required: true
          schema:
            type: integer
            format: int64
        - name: productId
          in: path
          description: L'ID del prodotto a cui l'immagine è associata (es. 32).
          required: true
          schema:
            type: integer
            format: int64
        - name: fileName
          in: path
          description: Il nome del file immagine completo da recuperare (es. 0c6cc6b0-6c80-4ee9-9b01-cd42f2e635a3_eis-vertical.webp).
          required: true
          schema:
            type: string
      responses:
        "200":
          description: File immagine recuperato con successo
          content:
            image/webp:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        "404":
          description: Immagine, Prodotto o Organizzazione non trovata
        "500":
          description: Errore interno del server
